
{% extends 'base.html' %}

{% block con %}
<h3>我的客户</h3>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <table class="table-bordered table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>客户姓名</th>
                    <th>跟进日期</th>
                    <th>跟进状态</th>
                </tr>
                </thead>
                <tbody>
                {% for my_customer in my_customer_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ my_customer.customer }}</td>
                        <td>{{ my_customer.date }}</td>
                        <td>{{ my_customer.get_status_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}